.tab {
  justify-content: space-between;
  background: $teal;
  color: white;
  width: 50%;
  padding: 4px;
  font-size: 24px;
  text-align: center;
  border: 4px solid $light-gray;
}

.active {
  text-decoration: underline;
}

.tab a, a:visited {
  color: white;
}
